@model Cocktail

@{
    ViewData["Title"] = "CocktailIndividual";
}

<div>
    <h3>@Model.Name</h3>
    <form id="@Model.CocktailID" asp-action="AddToQueue" asp-controller="Queue" method="post" class="float-right m-2 p-1">
        <input type="hidden" asp-for="CocktailID" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <button type="submit" class="btn btn-info btn-sm float-right">
            Order this Drink
        </button>
    </form>
    @Model.Description
    <h4>@Model.Price.ToString("c")</h4>
    <br />

</div>